@import "tailwindcss";

:root {
  --bg-light: #ffffff;
  --bg-dark: #f2f2f2;
  --text-black: #000000;
  --text-muted: #4d4d4d;
}

@theme inline {
  --color-bg-light: var(--bg-light);
  --color-bg-dark: var(--bg-dark);
  --color-text-black: var(--text-black);
  --color-text-muted: var(--text-muted);
  --font-title: var(--font-source-sans);
  --font-body: var(--font-inter);
}

body {
  background: var(--bg-light);
  color: var(--text-black);
  font-family: var(--font-inter), sans-serif;
}
